<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gluten Free</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anta&family=Crete+Round:ital@0;1&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Patua+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <header>
        <h1><a href="{{url_for('home')}}">Welcome to Gluten Free recipes</a></h1>
        <ul>
            {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('add_recipe') }}">Add recipe</a></li>
                <li><a href="">Edit recipe</a></li>
                <li><a href="">My recipes</a></li>
                <li><a href="">All recipes</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link" aria-current="page" href="{{ url_for('register') }}">Register</a></li>
                <li class="nav-item"><a class="nav-link" aria-current="page" href="{{ url_for('login') }}">Login</a></li>
            {% endif %} 
        </ul>
    </header>

    {% block content %}{% endblock %}

    <footer>
        <p>Copyright &copy; 2024</p>
        <p>&#9990; +3705588446</p>
        <p>&#9993; gfrecipes@gmail.com</p>
    </footer>
</body>