{% extends 'base.html' %}

{% block content %}
    <section id="top-recipe">
        <div>
            <div>
                <h2>Chia And Flaxseed Pudding</h2>
                <p>Chia and Flaxseed Pudding is a delicious low carb and high fiber breakfast. All you need is 5 ingredients and toppings of choice!</p>
            </div>
            <div id="prep-content">   
                <div>
                    <h3>Preparation time</h3>
                    <p>5 mins</p>
                </div>
                <div class= "vertical"></div>
                <div>
                    <h3>Cook time</h3>
                    <p>0 mins</p>
                </div>
                <div class= "vertical"></div>
                <div>
                    <h3>Servings</h3>
                    <p>2 people</p>
                </div>
            </div>    
        </div>
        <section>
            <img src="static/images/breakfast/Chia-and-Flaxseed-Pudding-1024x1536.webp" alt="Chia And Flaxseed Pudding">
        </section>
    </section>
    <section id="recipe">
    <ul>
        <h3>Ingredients</h3>
        <li>1 ¾ cups unsweetened almond milk or non dairy milk of choice</li>
        <li>4 tablespoons chia seeds</li>
        <li>2 tablespoons ground flaxseeds</li>
        <li>2 scoops vanilla or chocolate collagen (this will provide the sweetness in the recipe)</li>
        <li>½ teaspoon ground cinnamon</li>
    </ul>
    <img src="static/images/chia-pudding/ingredients-for-chia-and-flaxseed-pudding.webp" alt="">
    </section>
    <section id="preparation">
        <ol>
            <h3>Instructions</h3>
            <li>Place the ingredients into a jar with a lid.</li>
            <li>Shake the jar to make sure everything is well incorporated.</li>
            <li>Refrigerate for at least two hours. Overnight is best.</li>
            <li>Divide into two portions, add toppings of choice and enjoy!</li>
        </ol>
        <img src="static/images/chia-pudding/how-to-make-chia-and-flaxseed-pudding.webp" alt="">
    </section>

    {% endblock %}