{% extends 'base.html' %}

{% block content %}
    <section id="top-recipe">
        <div>
            <div>
                <h2>Cinnamon Roll Overnight Oats</h2>
                <p>Cinnamon Roll Overnight Oats are creamy, cozy and delicious! These overnight oats are the perfect healthy meal prep breakfast.</p>
            </div>
            <div id="prep-content">   
                <div>
                    <h3>Preparation time</h3>
                    <p>5 mins</p>
                </div>
                <div class= "vertical"></div>
                <div>
                    <h3>Cook time</h3>
                    <p>1 mins</p>
                </div>
                <div class= "vertical"></div>
                <div>
                    <h3>Servings</h3>
                    <p>1 people</p>
                </div>
            </div>    
        </div>
        <section>
            <img src="static/images/overnight-oats/overnight-oats-cinnamon-roll.webp" alt="Chia And Flaxseed Pudding">
        </section>
    </section>
    <section id="recipe">
    <ul>
        <h3>Ingredients</h3>
        <li>½ cup old fashioned rolled oats</li>
        <li>2 teaspoons ground flaxseed</li>
        <li>1 pinch salt</li>
        <li>½ teaspoon ground cinnamon</li>
        <li>1 teaspoon coconut sugar</li>
        <li>2 teaspoons pure maple syrup</li>
        <li>¼ teaspoon vanilla extract</li>
        <li>¼ cup plain Greek yogurt</li>
        <li>½ cup milk</li>
    </ul>
    <img src="static/images/overnight-oats/Ingredients-in-cinnamon-roll-overnight-oats-2.webp" alt="">
    </section>
    <section id="preparation">
        <ol>
            <h3>Instructions</h3>
            <li>Add all the ingredients into a jar or small container.</li>
            <li>Blend for about 15-20 seconds just until everything is incorporated. Don’t over blend or the pancakes can become tough. Let the batter rest for 5 minutes.</li>
            <li>Put the container in the refrigerator and let it sit overnight.</li>
            <li>In the morning, remove the lid and enjoy! You can add other toppings or do a little yogurt swirl on top like I did with a sprinkle of cinnamon.</li>
        </ol>
        <div>
            <img src="static/images/overnight-oats/overnight-oats-in-a-glass-mug.webp" alt="">
        </div>
    </section>
    {% endblock %}