{% extends 'base.html' %}

{% block content %}
    <section id="top-recipe">
        <div>
            <div>
                <h2>Gluten Free recipes</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla auctor vehicula libero, sed efficitur augue rhoncus et. Etiam arcu leo, finibus id quam a, mollis dapibus enim.</p>
            </div>
            <div id="prep-content">   
                <div>
                    <h3>Preparation time</h3>
                    <p>0 mins</p>
                </div>
                <div class= "vertical"></div>
                <div>
                    <h3>Cook time</h3>
                    <p>0 mins</p>
                </div>
                <div class= "vertical"></div>
                <div>
                    <h3>Servings</h3>
                    <p>0 people</p>
                </div>
            </div>    
        </div>
        <section>
            <img src="static/static/images/unfinished-page/gluten-free-COOKIE-RECIPES.jpg" alt="Chia And Flaxseed Pudding">
        </section>
    </section>
    <section id="recipe">
    <ul>
        <h3>Ingredients</h3>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <img src="static/static/images/unfinished-page/gluten-free-asian-recipes.jpg" alt="">
    </section>
    <section id="preparation">
        <ol>
            <h3>Instructions</h3>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
        <div>
            <img src="static/static/images/unfinished-page/gluten-free-dessert-recipes-macarons.jpg" alt="">

        </div>
    </section>
    {% endblock %}